Options -MultiViews
Header always set Access-Control-Allow-Origin "*"

RewriteEngine on
RewriteBase /~tlr/tntfl

# Allow any CORS
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

RewriteRule ^game(.cgi)?/add/ game.cgi?method=add [QSA]

RewriteRule ^game(.cgi)?/([^/]+)$ game/$2/ [R]
RewriteRule ^game(.cgi)?/([0-9]+)/delete$ delete.cgi?&game=$2 [QSA]

<Files "delete.cgi">
  AuthType                basic
  AuthName                "TNTFL Authentication (use CFL credentials)"
  AuthBasicProvider       ldap
  AuthLDAPURL             "ldaps://ldap-auth.int.corefiling.com ldap-auth1.int.corefiling.com ldap-auth2.int.corefiling.com/ou=People,dc=decisionsoft,dc=com?uid"
  Require                 valid-user
</Files>
